# name: CI - Build & Push to ECR

# on:
#   push:
#     branches: ["main"]

# env:
#   AWS_REGION: ap-south-1
#   ECR_REPOSITORY: strapi-app-repo

# jobs:
#   build:
#     runs-on: ubuntu-latest

#     steps:
#       - uses: actions/checkout@v4

#       - uses: aws-actions/configure-aws-credentials@v4
#         with:
#           aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
#           aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#           aws-region: ${{ secrets.AWS_REGION }}

#       - id: login-ecr
#         uses: aws-actions/amazon-ecr-login@v2

#       - name: Build & Push
#         run: |
#           IMAGE_URI=${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPOSITORY }}:${{ github.sha }}
#           docker build -t $IMAGE_URI .
#           docker push $IMAGE_URI
