name: Terraform CI/CD

on:
  push:
    branches:
      - main  # trigger on push to main

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.6.0

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan -out=tfplan -var="region=ap-south-1" -var="image_tag=latest"

      # Optional: apply automatically (use with caution!)
      # - name: Terraform Apply
      #   run: terraform apply -auto-approve tfplan
